{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <h1>Мои контакты</h1>
    <p><i>Мыло:</i>{{ email }}<br><b>Телефон:</b>{{phone}}</p>
    <p>Время на сервере: {{server_time}}</p>
    <br>
    <h2>Свяжитесь с нами</h2>

    <form method="post" action="/contacts">
        {% csrf_token %}

        <input type="text" name="user_name" placeholder="Введите свое имя">
        <br><br>
        <input type="text" name="user_phone" placeholder="Введите свой номер телефона">
        <br><br>
        <textarea name="user_text" placeholder="Введите сообщение"></textarea>
        <br><br>
        <button>Отправить</button>
    </form>


    <h3>Оставить комментарий</h3>
    <form method="post" action="/contacts">
        {% csrf_token %}
        <input type="text" name="comment_name_1" placeholder="Введите ваше имя">
        <textarea name="comment_text_1" placeholder="Введите текст"></textarea>
        <button>Опубликовать</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Имя</th><th>Комментрий</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments_1 %}
            <tr>
                <td>{{ comment.comment_name_1 }}</td>
                <td>{{ comment.comment_text_1 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}